---
import { getFirestore } from "firebase-admin/firestore";
import Layout from "../layouts/Layout.astro";
import { app } from "../firebase/server";
import { DRINK_CATEGORIES, type MenuItem } from "../types";

const db = getFirestore(app);

const menuItemsRef = db.collection("menuItems");

const menuItemsSnapshot = await menuItemsRef.get();

const lattes: MenuItem[] = [];
const nonCoffees: MenuItem[] = [];
const matchas: MenuItem[] = [];
const refreshers: MenuItem[] = [];

menuItemsSnapshot.forEach((doc) => {
  const menuItem = {
    ...doc.data(),
    id: doc.id,
  } as MenuItem;

  switch (menuItem.category) {
    case DRINK_CATEGORIES.latte:
      lattes.push(menuItem);
      break;
    case DRINK_CATEGORIES.nonCoffee:
      nonCoffees.push(menuItem);
      break;
    case DRINK_CATEGORIES.matcha:
      matchas.push(menuItem);
      break;
    case DRINK_CATEGORIES.refresher:
      refreshers.push(menuItem);
    default:
      break;
  }
});
---

<Layout title="Uplifted Coffee">
  <header class="header">
    <div class="container">
      <img src="./header.png" alt="" />
    </div>
  </header>

  <div>
    <div class="container">
      <h3>Lattes:</h3>
      <ul class="menu-item-list">
        {
          lattes.map((item) => (
            <li class="menu-item">
              <a href={`/order?drinkId=${item.id}`}>
                <h3>{item.name}</h3>
                <p>{item.description}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="container">
      <h3>Non-Coffees:</h3>
      <ul class="menu-item-list">
        {
          nonCoffees.map((item) => (
            <li class="menu-item">
              <a href={`/order?drinkId=${item.id}`}>
                <h3>{item.name}</h3>
                <p>{item.description}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="container">
      <h3>Matcha:</h3>
      <ul class="menu-item-list">
        {
          matchas.map((item) => (
            <li class="menu-item">
              <a href={`/order?drinkId=${item.id}`}>
                <h3>{item.name}</h3>
                <p>{item.description}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="container">
      <h3>Refreshers:</h3>
      <ul class="menu-item-list">
        {
          refreshers.map((item) => (
            <li class="menu-item">
              <a href={`/order?drinkId=${item.id}`}>
                <h3>{item.name}</h3>
                <p>{item.description}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <!-- <footer><p>Footer</p></footer> -->
</Layout>

<style>
  .container {
    max-width: 1100px;
    margin: 1rem auto;
    padding: 0 1rem;
  }

  .menu-item-list {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    padding: 1rem;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    margin-bottom: 1rem;
  }

  .menu-item {
    background: #fdeee2;
    border: 1px solid #914f26;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 1rem;

    max-width: 960px;
  }

  .menu-item:hover {
    transform: translateY(2px);
  }

  .menu-item a {
    box-sizing: border-box;
    color: #5b3720;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  .header img {
    max-width: 100%;
  }

  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
  }
  @media (max-width: 768px) {
    .menu-item-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 500px) {
    .menu-item-list {
      grid-template-columns: 1fr;
    }
  }
</style>
